
<div class="site-loader" *ngIf="showLoader">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

<div class="filter_section">
  <div class="page-header">
    <div class="float-left">
      <h3 class="fs_20">All Phone Numbers</h3>
      <p class="mb-0 ope_0"></p>
    </div>
  </div>

  <div class="site-loader ope_5" *ngIf="showLoader">
    <div class="lds-ring"><div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  </div>


  <div class="detail_card_container">
    <form class="mb-0 custum_input_css" [formGroup]="NumberDetailForm">
      <h3 class="fs_16 fsm_5 txt_b">Lookup a Number</h3>
      <p class="fs_14 fsn_4 txt_lb mt-3 mb-1">Know the details behind every phone number, Identify local-friendly number formats, reduce undelivered messages, and protect from spam and fraud. Enter a number below to lookup its details.</p>

      <div class="row">
        <div class="col-md-6">
          <p class="mt-3 mb-0 fs_16 fsn_4 txt_lb">Number to Lookup<span style="color: red;">*</span> </p>
          <mat-form-field appearance="none"  class="w-100">
            <input type="text" matInput class="form-control custom_input" placeholder="Phone Number" formControlName="number" maxlength="10"/>
            <mat-error *ngIf="validationActive && NumberDetailForm.get('number').errors?.['required']" class="error_mess">Phone Number is required.</mat-error>
            <mat-error *ngIf="validationActive && NumberDetailForm.get('number').errors?.['minlength']" class="error_mess">Please enter 10 Numbers</mat-error>
            <!-- <mat-error *ngIf="ifSubmit && NumberDetailForm.get('number').errors?.maxlength" class="">Please enter 10 Numbers</mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <p class="mt-3 mb-2 fs_16 fsn_4 txt_lb">Include in Results</p>
          <div class="custom_checkbox">
            <mat-checkbox class="example-margin" formControlName="carrierID">
              <span class="ms-1 fs_14 fsm_5 txt_b"> Identity Carrier</span>
              <span class="fs_12 fsn_4 txt_lb ms-2">$0.005 / lookup</span>
            </mat-checkbox>
            <br>
            <mat-checkbox class="example-margin" formControlName="callerName">
              <span class="ms-1 fs_14 fsm_5 txt_b"> Include Caller Name </span>
              <span class="fs_12 fsn_4 txt_lb ms-2">$0.01 / lookup</span>
            </mat-checkbox>
          </div>
        </div>
      </div>
      <div class="dc_con_action">
        <button class="btn custum_button button_primary bg_w txt_lb me-3 fs_16 fsm_5" (click)="back()">Back</button>
        <button class="btn custum_button button_primary" (click)="updateDetails()">Lookup Number</button>
      </div>
    </form>
  </div>

  <div *ngIf='ifSubmit' class="Container_scrollQ">
    <h3 class="fs_20" style="margin: 40px 0 12px;">Results</h3>
    <mat-tab-group animationDuration="0ms" class="custom_tab"> 
      <mat-tab>
        <ng-template mat-tab-label>Standard Format</ng-template>
        <div *ngIf=success  class="detail_card_container result_con">
          <div class="row">
            <div class="col-md-6">
              <div class="rst_row">
                <div class="rst_rowl">Phone Number</div>
                <div class="rst_rowr">{{phoneNumber ? phoneNumber : "-"}}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="rst_row">
                <div class="rst_rowl">National Format</div>
                <div class="rst_rowr">{{nationalFormat ? nationalFormat : "-"}}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="rst_row">
                <div class="rst_rowl">Country Code</div>
                <div class="rst_rowr">{{countryCode ? countryCode : "-"}}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="rst_row">
                <div class="rst_rowl">Caller Name</div>
                <div class="rst_rowr">{{callerName ? callerName : "-"}}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="rst_row">
                <div class="rst_rowl">Caller Type</div>
                <div class="rst_rowr">{{callerType ? callerType : "-"}}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="rst_row">
                <div class="rst_rowl">Carrier Name</div>
                <div class="rst_rowr">{{carrierName ? carrierName : "-"}}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="rst_row">
                <div class="rst_rowl">Carrier Type</div>
                <div class="rst_rowr">{{carrierType ? carrierType : "-"}}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="rst_row">
                <div class="rst_rowl">Mobile Country Code</div>
                <div class="rst_rowr">{{mobileCountryCode ? mobileCountryCode : "-"}}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="rst_row">
                <div class="rst_rowl">Mobile Network Code</div>
                <div class="rst_rowr">{{mobileNetworkCode ? mobileNetworkCode : "-"}}</div>
              </div>
            </div>
          </div>
        </div>
        <p class="fs_16 fsm_5 txt_lb mt-4 p-3 bg_w mb-0" *ngIf=!success >{{errormsg}}</p>
      </mat-tab> 
    </mat-tab-group>
  </div>
</div>