<div class="site-loader" *ngIf="showLoader">
	<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>
<div class="Container_scroll">
	<div class="container_header mb-3">
		<div class="cus_breadculam">
		  <ul>
		    <li class="fs_16 fsm_5 txt_lb" [routerLink]="['/shipment']">All Shipments</li>
		    <li class="fs_16 fsm_5 txt_lb" *ngIf="shipmentDetails">{{shipmentDetails.title}}<span class="ms-2">#{{shipmentDetails.uniqueId}}</span></li>
		  </ul>
		</div>
		<!-- <div class="custom_dropdown">
		  <label class="dropdown">
		    <span class="icon-ic-dots circle_dots rectangle_dots"></span>
		    <input type="checkbox" class="icon-ic-dots dd-input" id="test">
		    <ul class="dd-menu dd-rmenu">
		      <li>Action</li>
		      <li>Another action</li>
		    </ul>
		  </label>
		</div> -->
	</div>

	<div class="tab_status" *ngIf="shipmentDetails">
		<app-shipment-tabs [shipperId]="shipmentDetails.shipperId"></app-shipment-tabs>

	</div>
	<div class="tab_label_two">
		<div class="label_two_l">
			<div class="tab_header" style="margin: 0 0 32px;">
			<ul>
			<li [ngClass]="selectedTab === 'shipper' ?  'active_tab' : ''" (click)="transactionHistory('shipper')">
				<span>Shipper Transaction History</span>
			  </li>
			  <li   [ngClass]="selectedTab === 'carrier' ?  'active_tab' : ''" (click)="transactionHistory('carrier')">
				<span>Carrier Transaction History</span>
			  </li>
			</ul>
		  </div>
		</div>
		<div class="label_two_r">
			<button class="btn custum_button button_primary bg_p">Re-schedule</button>
		</div>
	</div>
	
	
	<div *ngIf="selectedTab === 'shipper' && historyDetailsShipper" class="customExpansion_panel">
	  <mat-accordion class="example-headers-align" multi>
	    <mat-expansion-panel *ngFor="let item of historyDetailsShipper, index as i" [expanded]="true">
	      <mat-expansion-panel-header>
	        <mat-panel-title class="fs_16 fsm_5 txt_b">{{'Payment Attempt '+ (i+1)  }}</mat-panel-title>
	        <mat-panel-description class="fs_16 fsm_5">
	        	<div class="payment_status">
	        		<span [ngClass]="historyDetailsShipper[i].status=== 'Success' ? 'txt_s' : 'txt_d'">{{historyDetailsShipper[i].status}}</span>
	        	</div>
	        </mat-panel-description>
	      </mat-expansion-panel-header>
	      <div class="sign_up_tab input_error">
	        <div class="update_profile_container">
	          <div class="row">
	            <div class="col-md-4">
	              <p class="fs_14 fsn_4 txt_lb mb-1">Transaction ID</p>
	              <p class="fs_14 fsm_5 txt_p mb-0">{{historyDetailsShipper[i].id ? historyDetailsShipper[i].id : '-'}}</p>
	            </div>
	            <div class="col-md-4">
	              <p class="fs_14 fsn_4 txt_lb mb-1">Created At</p>
	              <p class="fs_14 fsm_5 txt_b mb-0">{{historyDetailsShipper[i].createdAt ? historyDetailsShipper[i].createdAt : '-'}}</p>
	            </div>
	            <div class="col-md-4">
	              <p class="fs_14 fsn_4 txt_lb mb-1">Payment Method</p>
	              <p class="fs_14 fsm_5 txt_b mb-0">{{historyDetailsShipper[i].terms ? historyDetailsShipper[i].terms : '-'}}</p>
	            </div>
				<div class="col-md-4">
					<p class="fs_14 fsn_4 txt_lb mb-1">Carrier Company Name</p>
					<p class="fs_14 fsm_5 txt_b mb-0">{{ shipmentDetails.carrierName ? shipmentDetails.carrierName : '-'}}</p>
				  </div>
				
				<div class="col-md-4">
					<p class="fs_14 fsn_4 txt_lb mb-1">Gross Price</p>
					<p class="fs_14 fsm_5 txt_b mb-0">{{historyDetailsShipper[i].grossPrice.amount ? historyDetailsShipper[i].grossPrice.amount : '-'}}</p>
					<p class="fs_14 fsn_4 txt_lb mb-1">LaneAxis Visibility Fee ({{historyDetailsShipper[i].LaneAxisVisibilityFee.fixed ? '$'+historyDetailsShipper[i].LaneAxisVisibilityFee.fixed : '-'}})</p>
					<p class="fs_14 fsm_5 txt_b mb-0">{{historyDetailsShipper[i].LaneAxisVisibilityFee.amount ? '$'+historyDetailsShipper[i].LaneAxisVisibilityFee.amount : '-'}}</p>  
					<p class="fs_14 fsn_4 txt_lb mb-1">LaneAxis Fee (LaneAxis Processing Fee {{historyDetailsShipper[i].LaneAxisFee.percent ? historyDetailsShipper[i].LaneAxisFee.percent+'%' : '-'}})</p>
					<p class="fs_14 fsm_5 txt_b mb-0">{{historyDetailsShipper[i].LaneAxisFee.amount ? historyDetailsShipper[i].LaneAxisFee.amount : '-'}}</p>

					<p class="fs_14 fsn_4 txt_lb mb-1">Shipper Term Fee (Shipper Term Fee {{historyDetailsShipper[i].shipperTermsFee.percent ? historyDetailsShipper[i].shipperTermsFee.percent+'%' : '-'}})</p>
					<p class="fs_14 fsm_5 txt_b mb-0">{{historyDetailsShipper[i].shipperTermsFee.amount ? '$'+historyDetailsShipper[i].shipperTermsFee.amount : '-'}}</p>

					<p class="fs_14 fsn_4 txt_lb mb-1">Transaction Fee (Stripe Transaction Fee {{historyDetailsShipper[i].transactionFee.percent ? historyDetailsShipper[i].transactionFee.percent+'%' : '-'}})</p>
					<p class="fs_14 fsm_5 txt_b mb-0">{{historyDetailsShipper[i].transactionFee.amount ? '$'+historyDetailsShipper[i].transactionFee.amount : '-'}}</p>

					<p class="fs_14 fsn_4 txt_lb mb-1">Amount Paid</p>
					<p class="fs_14 fsm_5 txt_b mb-0">{{historyDetailsShipper[i].totalAmount ? '$'+historyDetailsShipper[i].totalAmount : '-'}}</p>
				</div>
	          </div>
	        </div>
	      </div>
	    </mat-expansion-panel>
	  </mat-accordion>
	</div>

	<div *ngIf="selectedTab === 'carrier' && historyDetailsCarrier.length" class="customExpansion_panel">
		<mat-accordion class="example-headers-align" multi>
		  <mat-expansion-panel *ngFor="let item of historyDetailsShipper, index as i" [expanded]="true">
			<mat-expansion-panel-header>
			  <mat-panel-title class="fs_16 fsm_5 txt_b">{{'Payment Attempt '+ (i+1)  }}</mat-panel-title>
			  <mat-panel-description class="fs_16 fsm_5">
				  <div class="payment_status">
					  <span [ngClass]="historyDetailsShipper[i].status=== 'Success' ? 'txt_s' : 'txt_d'">{{historyDetailsShipper[i].status}}</span>
				  </div>
			  </mat-panel-description>
			</mat-expansion-panel-header>
			<div class="sign_up_tab input_error">
			  <div class="update_profile_container">
				<div class="row">
				  <div class="col-md-4">
					<p class="fs_14 fsn_4 txt_lb mb-1">Transaction ID</p>
					<p class="fs_14 fsm_5 txt_p mb-0">{{historyDetailsShipper[i].id ? historyDetailsShipper[i].id : '-'}}</p>
				  </div>
				  <div class="col-md-4">
					<p class="fs_14 fsn_4 txt_lb mb-1">Created At</p>
					<p class="fs_14 fsm_5 txt_b mb-0">{{historyDetailsShipper[i].createdAt ? historyDetailsShipper[i].createdAt : '-'}}</p>
				  </div>
				  <div class="col-md-4">
					<p class="fs_14 fsn_4 txt_lb mb-1">Payment Method</p>
					<p class="fs_14 fsm_5 txt_b mb-0">{{historyDetailsShipper[i].terms ? historyDetailsShipper[i].terms : '-'}} ({{historyDetailsShipper[i].stDays ? historyDetailsShipper[i].stDays : ''}})</p>
				  </div>
				  <div class="col-md-4">
					  <p class="fs_14 fsn_4 txt_lb mb-1">Carrier Company Name</p>
					  <p class="fs_14 fsm_5 txt_b mb-0">{{ shipmentDetails.carrierName ? shipmentDetails.carrierName : '-'}}</p>
					</div>
				  
				  <div class="col-md-4">
					  <p class="fs_14 fsn_4 txt_lb mb-1">Gross Price</p>
					  <p class="fs_14 fsm_5 txt_b mb-0">{{historyDetailsShipper[i].grossPrice.amount ? historyDetailsShipper[i].grossPrice.amount : '-'}}</p>
					  <p class="fs_14 fsn_4 txt_lb mb-1">LaneAxis Visibility Fee ({{historyDetailsShipper[i].LaneAxisVisibilityFee.fixed ? '$'+historyDetailsShipper[i].LaneAxisVisibilityFee.fixed : '-'}})</p>
					  <p class="fs_14 fsm_5 txt_b mb-0">{{historyDetailsShipper[i].LaneAxisVisibilityFee.amount ? '$'+historyDetailsShipper[i].LaneAxisVisibilityFee.amount : '-'}}</p>  
					  <p class="fs_14 fsn_4 txt_lb mb-1">LaneAxis Fee (LaneAxis Processing Fee {{historyDetailsShipper[i].LaneAxisFee.percent ? historyDetailsShipper[i].LaneAxisFee.percent+'%' : '-'}})</p>
					  <p class="fs_14 fsm_5 txt_b mb-0">{{historyDetailsShipper[i].LaneAxisFee.amount ? '$'+historyDetailsShipper[i].LaneAxisFee.amount : '-'}}</p>
  
					  <p class="fs_14 fsn_4 txt_lb mb-1">Shipper Term Fee (Shipper Term Fee {{historyDetailsShipper[i].shipperTermsFee.amount ? historyDetailsShipper[i].shipperTermsFee.amount+'%' : '-'}})</p>
					  <p class="fs_14 fsm_5 txt_b mb-0">{{historyDetailsShipper[i].shipperTermsFee.amount ? '$'+historyDetailsShipper[i].shipperTermsFee.amount : '-'}}</p>
  
					  <p class="fs_14 fsn_4 txt_lb mb-1">Transaction Fee (Stripe Transaction Fee {{historyDetailsShipper[i].transactionFee.percent ? historyDetailsShipper[i].transactionFee.percent+'%' : '-'}})</p>
					  <p class="fs_14 fsm_5 txt_b mb-0">{{historyDetailsShipper[i].transactionFee.amount ? '$'+historyDetailsShipper[i].transactionFee.amount : '-'}}</p>
  
					  <p class="fs_14 fsn_4 txt_lb mb-1">Amount Paid</p>
					  <p class="fs_14 fsm_5 txt_b mb-0">{{historyDetailsShipper[i].totalAmount ? '$'+historyDetailsShipper[i].totalAmount : '-'}}</p>
				  </div>
				</div>
			  </div>
			</div>
		  </mat-expansion-panel>
		</mat-accordion>
	  </div>

	  <div *ngIf="!historyDetailsCarrier.length && selectedTab === 'carrier' " class="customExpansion_panel example-headers-align">
		<p>Carrier Transaction History not avaiable.</p>
	  </div>
</div>