<div class="site-loader" *ngIf="showLoader">
	<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>
<div class="Container_scroll">
	<div class="container_header mb-3">
		<div class="cus_breadculam">
		  <ul>
		    <li class="fs_16 fsm_5 txt_lb" [routerLink]="['/shipment']">All Shipments</li>
		    <li class="fs_16 fsm_5 txt_lb" *ngIf="shipmentDetails">{{shipmentDetails.title}}<span class="ms-2">#{{shipmentDetails.uniqueId}}</span></li>
		  </ul>
		</div>
		<!-- <div class="custom_dropdown">
		  <label class="dropdown">
		    <span class="icon-ic-dots circle_dots rectangle_dots"></span>
		    <input type="checkbox" class="icon-ic-dots dd-input" id="test">
		    <ul class="dd-menu dd-rmenu">
		      <li>Action</li>
		      <li>Another action</li>
		    </ul>
		  </label>
		</div> -->
	</div>

	<div class="tab_status" *ngIf="shipmentDetails">
		<app-shipment-tabs [shipperId]="shipmentDetails.shipperId"></app-shipment-tabs>

	</div>
	<div class="tab_label_two">
		<div class="label_two_l">
			<div class="tab_header" style="margin: 0 0 32px;">
			<ul>
			<li [routerLink]="['/carrier/view','2335029','shipperTransaction']" [ngClass]="selectedTab === 'shipper' ?  'active_tab' : ''" (click)="transactionHistory('shipper')">
				<span>Shipper Transaction History</span>
			  </li>
			  <li  [routerLink]="['/carrier/view','2335029','carrierTransaction']"   [ngClass]="selectedTab === 'carrier' ?  'active_tab' : ''" (click)="transactionHistory('carrier')">
				<span>Carrier Transaction History</span>
			  </li>
			</ul>
		  </div>
		</div>
		<div class="label_two_r">
			<button (click)="reschedule()" [disabled]='!rescheduleButton' [hidden]="selectedTab==='carrier'" class="btn custum_button button_primary bg_p">Re-schedule</button>
		</div>
	</div>
	
	
	<div *ngIf="selectedTab === 'shipper' && historyDetailsShipper" class="customExpansion_panel">
	  <mat-accordion class="example-headers-align" multi>
	    <mat-expansion-panel *ngFor="let item of historyDetailsShipper, index as i" [expanded]="true">
	      <mat-expansion-panel-header>
	        <mat-panel-title class="fs_16 fsm_5 txt_b">{{'Payment Attempt '+ (i+1)  }}</mat-panel-title>
	        <mat-panel-description class="fs_16 fsm_5">
	        	<div class="payment_status">
	        		<span [ngClass]="historyDetailsShipper[i].status=== 'Success' ? 'txt_s' : historyDetailsShipper[i].status=== 'Failed' ? 'txt_d': 'txt_y'">{{historyDetailsShipper[i].status}}</span>
	        	</div>
	        </mat-panel-description>
	      </mat-expansion-panel-header>
	      <div class="pay_attempt_card">
	      	<div class="row">
	      		<div class="col-md-6">
	      			<div class="con_wrapper_row">
	      				<div class="row_label">Transaction ID</div>
	      				<div class="row_value">{{historyDetailsShipper[i].id ? historyDetailsShipper[i].id : '-'}}</div>
	      			</div>
	      			<div class="con_wrapper_row">
	      				<div class="row_label">Created At</div>
	      				<div class="row_value">{{historyDetailsShipper[i].createdAt ? historyDetailsShipper[i].createdAt : '-'}}</div>
	      			</div>
	      			<div class="con_wrapper_row">
	      				<div class="row_label">Payment Term</div>
	      				<div class="row_value">{{historyDetailsShipper[i].terms ? historyDetailsShipper[i].terms : '-'}}</div>
	      			</div>
	      			<div class="con_wrapper_row">
	      				<div class="row_label">Carrier Company Name</div>
	      				<div class="row_value">{{ shipmentDetails.carrierName ? shipmentDetails.carrierName : '-'}}</div>
	      			</div>
	      		</div>

	      		<div class="col-md-6 pay_attempt_r">
	      			<div class="con_wrapper_row">
	      				<div class="row_label">Gross Price</div>
	      				<div class="row_value">{{historyDetailsShipper[i].grossPrice.amount ? historyDetailsShipper[i].grossPrice.amount : '-'}}</div>
	      			</div>
							<div class="con_wrapper_row">
	      				<div class="row_label">
		      				<span>LaneAxis Visibility Fee </span>
		      				<span class="fs_12">({{historyDetailsShipper[i].LaneAxisVisibilityFee.fixed ? '$'+historyDetailsShipper[i].LaneAxisVisibilityFee.fixed : '-'}})</span>
		      			</div>
	      				<div class="row_value">{{historyDetailsShipper[i].LaneAxisVisibilityFee.amount ? '$'+historyDetailsShipper[i].LaneAxisVisibilityFee.amount : '-'}}</div>
	      			</div>
							<div class="con_wrapper_row">
	      				<div class="row_label">
	      					<span>LaneAxis Fee </span>
		      				<span class="fs_12">(LaneAxis Processing Fee {{historyDetailsShipper[i].LaneAxisFee.percent ? historyDetailsShipper[i].LaneAxisFee.percent+'%' : '-'}})</span>
		      			</div>
	      				<div class="row_value">{{historyDetailsShipper[i].LaneAxisFee.amount ? historyDetailsShipper[i].LaneAxisFee.amount : '-'}}</div>
	      			</div>
							<div class="con_wrapper_row">
	      				<div class="row_label">
	      					<span>Shipper Term Fee </span>
	      					<span class="fs_12">(Shipper Term Fee {{historyDetailsShipper[i].shipperTermsFee.percent ? historyDetailsShipper[i].shipperTermsFee.percent+'%' : '-'}})</span>
	      				</div>
	      				<div class="row_value">{{historyDetailsShipper[i].shipperTermsFee.amount ? '$'+historyDetailsShipper[i].shipperTermsFee.amount : '-'}}</div>
	      			</div>
							<div class="con_wrapper_row">
	      				<div class="row_label">
	      					<span>Transaction Fee </span>
	      					<span class="fs_12">(Stripe Transaction Fee {{historyDetailsShipper[i].transactionFee.percent ? historyDetailsShipper[i].transactionFee.percent+'%' : '-'}})</span>
	      				</div>
	      				<div class="row_value">{{historyDetailsShipper[i].transactionFee.amount ? '$'+historyDetailsShipper[i].transactionFee.amount : '-'}}</div>
	      			</div>
							<div class="con_wrapper_row">
	      				<div class="row_label">Amount Paid</div>
	      				<div class="row_value">{{historyDetailsShipper[i].totalAmount ? '$'+historyDetailsShipper[i].totalAmount : '-'}}</div>
	      			</div>
      			</div>
	      	</div>
	      </div>
	    </mat-expansion-panel>
	  </mat-accordion>
	</div>

	<div *ngIf="selectedTab === 'carrier' && historyDetailsCarrier?.length" class="customExpansion_panel">
		<mat-accordion class="example-headers-align" multi>
		  <mat-expansion-panel *ngFor="let item of historyDetailsCarrier, index as i" [expanded]="true">
			<mat-expansion-panel-header>
			  <mat-panel-title class="fs_16 fsm_5 txt_b">{{'Payment Attempt '+ (i+1)  }}</mat-panel-title>
			  <mat-panel-description class="fs_16 fsm_5">
				  <div class="payment_status">
					  <span [ngClass]="historyDetailsCarrier[i].destinationStatus=== 'succeeded' ? 'txt_s' :historyDetailsCarrier[i].destinationStatus=== 'failed' ? 'txt_d' : 'txt_y'">{{historyDetailsCarrier[i].destinationStatus=== 'succeeded' ? 'Success' : 'Failed'}}</span>
				  </div>
			  </mat-panel-description>
			</mat-expansion-panel-header>
			<div class="pay_attempt_card">
      	<div class="row">
      		<div class="col-md-6">
      			<div class="con_wrapper_row">
      				<div class="row_label">Transaction ID</div>
      				<div class="row_value">{{historyDetailsCarrier[i].id ? historyDetailsCarrier[i].id : '-'}}</div>
      			</div>
      			<div class="con_wrapper_row">
      				<div class="row_label">Created At</div>
      				<div class="row_value">{{historyDetailsCarrier[i].createdAt ? historyDetailsCarrier[i].createdAt : '-'}}</div>
      			</div>
      			<div class="con_wrapper_row">
      				<div class="row_label">Payment Term</div>
      				<div class="row_value">{{historyDetailsCarrier[i].terms ? historyDetailsCarrier[i].terms : '-'}} ({{historyDetailsCarrier[i].stDays ? historyDetailsShipper[i].stDays : ''}})</div>
      			</div>
      			<div class="con_wrapper_row">
      				<div class="row_label">Shipper Company Name</div>
      				<div class="row_value">{{ shipmentDetails.shipperName ? shipmentDetails.shipperName : '-'}}</div>
      			</div>
      		</div>

      		<div class="col-md-6 pay_attempt_r">
      			<div class="con_wrapper_row">
      				<div class="row_label">Gross Price</div>
      				<div class="row_value">{{historyDetailsCarrier[i].sourceAmount ? historyDetailsCarrier[i].sourceAmount : '-'}}</div>
      			</div>
						<div class="con_wrapper_row">
      				<div class="row_label">
	      				<span>Account Debit Fee</span>
	      				<span class="fs_12"> (of Gross Price {{historyDetailsCarrier[i].platformCharges ? '$'+historyDetailsCarrier[i].platformCharges : '-'}})</span>
	      			</div>
      				<div class="row_value">{{historyDetailsCarrier[i].platformCharges ? '$'+historyDetailsCarrier[i].platformCharges : '-'}}</div>
      			</div>
						<div class="con_wrapper_row">
      				<div class="row_label">
      					<span>LaneAxis Fee </span>
	      				<span class="fs_12">(LaneAxis Processing Fee {{historyDetailsCarrier[i].laneaxisCharges ? historyDetailsCarrier[i].laneaxisCharges +'%' : '-'}})</span>
	      			</div>
      				<div class="row_value">{{historyDetailsCarrier[i].laneaxisCharges ? '$'+historyDetailsCarrier[i].laneaxisCharges : '-'}}</div>
      			</div>
						<div class="con_wrapper_row">
      				<div class="row_label">
      					<span>Carrier Charge </span>
      					<span class="fs_12">(Stripe Transaction Fee {{historyDetailsCarrier[i].stripeCharges ? historyDetailsCarrier[i].stripeCharges+'%' : '-'}})</span>
      				</div>
      				<div class="row_value">{{historyDetailsCarrier[i].stripeCharges ? '$'+historyDetailsCarrier[i].stripeCharges : '-'}}</div>
      			</div>
						<div class="con_wrapper_row">
      				<div class="row_label">Amount Paid</div>
      				<div class="row_value">{{historyDetailsCarrier[i].destinationAmount ? '$'+historyDetailsCarrier[i].destinationAmount : '-'}}</div>
      			</div>
    			</div>
      	</div>
      </div>


			<div class="sign_up_tab input_error" style="display: none;">
			  <div class="update_profile_container">
				<div class="row">
				  <!-- <div class="col-md-4">
						<p class="fs_14 fsn_4 txt_lb mb-1">Transaction ID</p>
						<p class="fs_14 fsm_5 txt_p mb-0"></p>
					  </div>
					  <div class="col-md-4">
						<p class="fs_14 fsn_4 txt_lb mb-1">Created At</p>
						<p class="fs_14 fsm_5 txt_b mb-0"></p>
					  </div>
					  <div class="col-md-4">
						<p class="fs_14 fsn_4 txt_lb mb-1">Payment Term</p>
						<p class="fs_14 fsm_5 txt_b mb-0"></p>
					  </div>
					  <div class="col-md-4">
						  <p class="fs_14 fsn_4 txt_lb mb-1"></p>
						  <p class="fs_14 fsm_5 txt_b mb-0"></p>
					</div> -->
					<div><p class="fs_14 fsm_5 txt_b mb-0">Price Details</p></div>
				  <div class="col-md-4">
					  <p class="fs_14 fsn_4 txt_lb mb-1">Gross Price</p>
					  <p class="fs_14 fsm_5 txt_b mb-0"></p>

					  <p class="fs_14 fsn_4 txt_lb mb-1"></p>
					  <p class="fs_14 fsm_5 txt_b mb-0"></p>  

					  <p class="fs_14 fsn_4 txt_lb mb-1"></p>
					  <p class="fs_14 fsm_5 txt_b mb-0"></p>
    
					  <p class="fs_14 fsn_4 txt_lb mb-1"></p>
					  <p class="fs_14 fsm_5 txt_b mb-0"></p>
  
					  <p class="fs_14 fsn_4 txt_lb mb-1"></p>
					  <p class="fs_14 fsm_5 txt_b mb-0"></p>
				  </div>
				</div>
			  </div>
			</div>
		  </mat-expansion-panel>
		</mat-accordion>
	  </div>

	  <div *ngIf="(!historyDetailsCarrier?.length && selectedTab === 'carrier' || !historyDetailsShipper?.length && selectedTab === 'shipper' )" >

	  </div>
	  <div class="pay_card_skt">
			<ngx-skeleton-loader [theme]="{ width: '100%', height: '24px' }" class="loader_m_0 skt_btn_loader mb-2"></ngx-skeleton-loader>
			<div class="pay_card_skt_row" *ngFor="let fake of generateFake(3)">
				<div class="pay_card_skt_rowl">
					<ngx-skeleton-loader [theme]="{ width: '95%', height: '16px' }" class="loader_m_0 skt_btn_loader mb-2"></ngx-skeleton-loader>
				</div>
				<div class="pay_card_skt_rowr">
					<ngx-skeleton-loader [theme]="{ width: '98%', height: '16px' }" class="loader_m_0 skt_btn_loader mb-2"></ngx-skeleton-loader>
				</div>
			</div>
		</div>
	  <!-- <div *ngIf="!historyDetailsCarrier?.length && selectedTab === 'carrier' " class="customExpansion_panel example-headers-align">
		<p>Carrier Transaction History not avaiable.</p>
	  </div> -->
</div>