<div class="site-loader" *ngIf="showLoader">
	<div class="lds-ring">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>

<div class="Container_scroll"><!--  -->
	<div class="page-header">
		<div class="float-left">
			<!-- <div class="custom_breadcrumb">
    		<ul class="breadcrumb_list">
				  <li><a href="#">Settings</a></li>
				  <li>Change Password</li>
				</ul>
    	</div> -->
			<h3 class="fs_20 fsb_7 txt_b" style="margin: 40px 0 12px;">Settings</h3>
			<!-- <p>A place to manage all of the Carrier on the FreightLINK system.</p> -->
		</div>
	</div>
	<div class="custom_Htabs">
		<mat-tab-group animationDuration="0ms">
			<mat-tab>
				<ng-template mat-tab-label>Change Password</ng-template>
				<div class="">
					<div class="update_profile_container">
						<form class="custum_input_css password_icon custom_inpt_user_update"
							[formGroup]="changePasswordForm" (ngSubmit)="changePassword($event)">
							<p class="fs_16 fsb_7 txt_b mb-1">Change Password</p>
							<p class="fs_14 txt_lb fsn_4">Choose a password that will be hard for others to
								guess. Password must be 6 digits.</p>
							<div class="row">
								<div class="col-md-6">
									<p class="fs_14 fsn_4 txt_lb" style="margin: .5rem 0 -0.5rem;">Current
										Password</p>
										<!-- appearance="none" -->
									<mat-form-field appearance="none"
										class="w-100 custom_matSuffix_icon ic_password">
										<input matInput type="password" class="form-control custom_input"
											placeholder="Enter current password" formControlName="oldPassword"
											[type]="hide ? 'text' : 'password'" autocomplete="false"/>
										<button *ngIf="changePasswordForm.get('oldPassword').value" mat-icon-button matSuffix type="button" (click)="hide = !hide">
											<mat-icon
												class="ff_im fs_18 txt_lb {{hide ? 'icon-ic-show' : 'icon-ic-hide'}}">
											</mat-icon>
										</button>
										<mat-error
											*ngIf="ischangePwdSubmit && changePasswordForm.get('oldPassword').errors?.required">
											Current password is required</mat-error>
										<mat-error
											*ngIf="changePasswordForm.get('oldPassword').errors?.minlength">
											Password min lengh must be 6 character</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p class="fs_14 fsn_4 txt_lb" style="margin: .5rem 0 -0.5rem;">New Password
									</p>
									<!-- appearance="none" -->
									<mat-form-field appearance="none"
										class="w-100 custom_matSuffix_icon ic_password">
										<input matInput class="form-control custom_input"
											placeholder="Enter new password" formControlName="newPassword"
											[type]="hide1 ? 'text' : 'password'" type="password" autocomplete="false"/>
										<button *ngIf="changePasswordForm.get('newPassword').value" mat-icon-button matSuffix type="button"
											(click)="hide1 = !hide1">
											<mat-icon
												class="ff_im fs_18 txt_lb {{hide1 ? 'icon-ic-show' : 'icon-ic-hide'}}">
											</mat-icon>
										</button>
										<mat-error
											*ngIf="ischangePwdSubmit && changePasswordForm.get('newPassword').errors?.required">
											New password is required</mat-error>
										<mat-error
											*ngIf="changePasswordForm.get('newPassword').errors?.minlength">
											Password min lengh must be 6 character</mat-error>
									</mat-form-field>
								</div>
								<div class="col-md-6">
									<p class="fs_14 fsn_4 txt_lb" style="margin: .5rem 0 -0.5rem;">Confirm New
										Password</p>
										<!-- appearance="none" -->
									<mat-form-field appearance="none"
										class="w-100 custom_matSuffix_icon ic_password">
										<input matInput class="form-control custom_input"
											placeholder="Re-enter password" formControlName="confirmPassword"
											[type]="hide2 ? 'text' : 'password'" type="password" autocomplete="false"/>
										<button *ngIf="changePasswordForm.get('confirmPassword').value" mat-icon-button matSuffix type="button"
											(click)="hide2 = !hide2">
											<mat-icon
												class="ff_im fs_18 txt_lb {{hide2 ? 'icon-ic-show' : 'icon-ic-hide'}}">
											</mat-icon>
										</button>
										<mat-error
											*ngIf="ischangePwdSubmit && changePasswordForm.get('confirmPassword').errors?.required">
											Confirm password is required</mat-error>
										<mat-error
											*ngIf="changePasswordForm.get('confirmPassword').errors?.minlength">
											Password min lengh must be 6 character</mat-error>
										<small class="txt_d"
											*ngIf="ischangePwdSubmit && paswwordNotMatch">Password do not
											match</small>
									</mat-form-field>
								</div>
							</div>
							<div class="text-right">
								<span class="botomBack_btn fs_14 txt_lb fsn_4 pointer p-3">Back</span>
								<button class="btn custum_button button_primary ml-4">Save</button>
							</div>
						</form>
					</div>
				</div>
			</mat-tab>
			<!-- <mat-tab>
				<ng-template mat-tab-label>Change Email</ng-template>
				<div class="">
					<div class="update_profile_container">
						<form class="custum_input_css password_icon custom_inpt_user_update">
							<p class="fs_18 fsb_7 txt_b mb-1">Change Email</p>
							<p class="fs_14 txt_lb fsn_4">Change and verify your email address</p>
						</form>
					</div>
				</div>
			</mat-tab> -->
		</mat-tab-group>
	</div>
	<div class="tab_container">
	</div>
</div><!-- End of page-main-content -->
