.bg_container { display: flex; background: #eef0f4; }
.page_container { background: #EEF0F4; padding: 32px; width: 100%; }

@media only screen and (max-width : 420px) {
	.page_container { padding: 15px; height: calc(100vh - 55px); }
}

.admin_before_login .Container_scroll { height: 100%; overflow: auto; padding: 0px; }