<div class="hidden_scroll" style="height: calc(100vh - 60px);">
	<div class="page-header">
		<div class="float-left">
		  <h3>Shipments</h3>
		  <p>A place to manage all of the shipments on the LaneAxis Network system</p>
		</div>
		<div class="float-right">
		  <button _ngcontent-pqc-c142="" mat-flat-button="" color="primary" class="mat-focus-indicator mat-flat-button mat-button-base mat-primary bg_p">
		  <!-- (click)="clickEvent()" -->
		    <span class="mat-button-wrapper">Create new Shipment</span>
		    <span matripple="" class="mat-ripple mat-button-ripple"></span>
		    <span class="mat-button-focus-overlay"></span>
		  </button>
		</div>
	</div>
	<app-shipments [moduleName]="'shipment'"></app-shipments>
</div>
