.bg_container { display: flex; }
.page_container { background: #EEF0F4; padding: 32px; width: 100%; }

.page-header {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
  }
  .page-header h3{ font-family: Roboto,"Helvetica Neue",sans-serif; font-size: 20px; color: #000; margin-bottom: 10px; font-weight: 600; }
  .page-header p{font-family: Roboto,"Helvetica Neue",sans-serif; font-size: 14px; color: #818181;}
  
  .mat-flat-button {
    box-shadow: none;
	border-radius:30px;
	border: none;
	font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-transform: inherit;
    min-width: 7.429rem;
    max-width: 100%;
    padding: 10px 18px;
   
}
.mat-button-base[color~="primary"]{color: #fff; background: #3787e6; }