<div class="progragess_line_status">
	<div class="pro_single_line">

		<div class="progragess_lines">
		   <span class="lines" [ngClass]="[ statusCount >= 13 ? bgClass+'' : '']"></span>
		</div>

		<div class="progragess_lines">
		    <span class="lines" [ngClass]="[ statusCount >= 21 ? bgClass+'' : '']"></span>
		</div>
		
		<div class="progragess_lines">
		   <span class="lines" [ngClass]="[ statusCount >= 23 ? bgClass+'' : '']"></span>
		</div>
		
		<div class="progragess_lines">
		   <span class="lines" [ngClass]="[ statusCount >= 41 ? bgClass+'' : '']"></span> 
		</div>
		
		<div class="progragess_lines">
		    <span class="lines" [ngClass]="[ statusCount >= 43 ? bgClass+'' : '']"></span>
		</div>
		
	</div>
	
</div>