<div class="site-loader" *ngIf="showLoader">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

<div class="main-content admin_SignInUp_con">
    <div class="container admin_SignInUp">
      <div class="row flex_center_y">
          <div class="col-md-6">
             <div class="tab_container_r">
                
                <div class="tab_container_inpput bg_w log_reg_box">
                  <div class="tab-content m-0">
                    <div id="forgotPassword" class="tab-pane fade in active">
                      <!-- Forgot Password -->
                      <div *ngIf="showPasswordSend">
                        <p class="onboarding_h">Forgot Your Password?</p>
                          <form [formGroup]="forgotForm" (ngSubmit)="sendOTP($event)" class="form-horizontal mb-0 input_error" autocomplete="off">
                             <p class="fs_14 fsn_4 txt_b" style="margin: 0 0 1.5rem;">Enter the email you use for LaneAxis, and we'll help you create a new password</p>
                             <p class="fs_14 fsn_4 txt_lb" style="margin: 0rem 0 -0.3rem;">Email address</p>
                             <!--  -->
                             <mat-form-field appearance="none" class="w-100">
                                <input type="email" matInput formControlName="username" class="form-control custom_input" placeholder="Enter registered email address"/>
                                <mat-error *ngIf="isForgotPasswordSubmit && forgotForm.get('username').errors?.['required']">Email is required.</mat-error>
                                <mat-error *ngIf="isForgotPasswordSubmit && forgotForm.get('username').errors?.['email']">Please enter valid email address</mat-error>
                                
                             </mat-form-field>
                             <small class="txt_d">{{failureMsg}}</small>
                             <small class="txt_d">{{resendmessage}}</small>
                             <div class="col-md-12 px-0 py-2 mt-2">
                                <button class="btn custum_button button_primary w-100" type="button" (click)="sendOTP($event)">Get verification code</button> 
                             </div>
                             <p class="forgot_password"><u class="pointer" (click)="goToSignIn()">Back to Sign in</u></p>
                          </form>
                      </div>
                      <!-- Email OTP for Password reset -->
                      <div *ngIf="otpEnterShow">
                        <p class="onboarding_h">Check your email</p>
                        <p class="fs_14 fsn_4 txt_b" style="margin: 0 0 1rem;">We have sent you a six-digit confirmation code to <span class="fsm_5">{{isEmailSelected}}</span> Please enter it below to confirm your email address.</p>
                        <form class="form-horizontal" [formGroup]="otpVerificationForm" (ngSubmit)="sendEmailOTP($event)" autocomplete="off">
                          <p class="fs_14 fsn_4 txt_lb" style="margin: 2rem 0 -0.3rem;">Verification code</p>
                          <!-- appearance="none" -->
                          <mat-form-field appearance="none">
                            <input type="text" matInput formControlName="emailOtp" class="form-control custom_input" placeholder="Enter verification code" maxlength="6"/>
                            <mat-error *ngIf="isOtpVerificationSubmit && otpVerificationForm.get('emailOtp').errors?.['required']" class="mt-1">Verification code is required.</mat-error>
                            <mat-error *ngIf="isOtpVerificationSubmit && otpVerificationForm.get('emailOtp').errors?.['pattern']">Verification code should be number</mat-error>
                            <!-- <mat-error *ngIf="isOtpVerificationSubmit && otpVerificationForm.get('emailOtp').errors?.['minlength']">Verification code should be of 6 digit</mat-error> -->
                          </mat-form-field>
                          <p class="fs_14 fsn_4" style="margin: .8rem 0;" (click)="sendOTP($event, 'resend')">
                            <i class="txt_p pointer">Resend email verification code.</i>
                          </p>
                          <div class="resend_otp1">
                             <small class="fs_14 fsn_4 txt_d">{{failureMsg}}</small>
                             <small class="fs_14 fsn_4 txt_s">{{resendOTPSuccess}}</small>
                            
                             <div class="pointer">
                                <div *ngIf="spinnerLoading" class="spinner-border spinner_border text-primary" role="status">
                                  <span class="sr-only">Loading...</span>
                                </div>
                             </div>
                          </div>
                          <div class="col-md-12 px-0 py-2">
                            <button class="btn custum_button button_primary w-100" type="submit">Verify</button>
                            <p class="forgot_password">
                              <u class="fs_16 fsn_4 pointer" (click)="goToSignIn()">Back</u>
                            </p>
                          </div>
                        </form>
                      </div>
                      <!-- Password reset -->
                      <div *ngIf="createPasswordShow">
                        <p class="onboarding_h">Reset your password</p>
                        <form class="form-horizontal" [formGroup]="createNewPasswordForm" (ngSubmit)="resetPassword($event)"  autocomplete="off">
                        <p class="fs_14 fsn_4 txt_lb" style="margin: 0rem 0 -0.3rem;">New password</p>
                        <!-- appearance="none" -->
                        <mat-form-field appearance="none" class="custom_matSuffix_icon ic_password">
                           <input  type="text" matInput type="pasword" placeholder="Enter new password" formControlName="newPassword" name="newPassword" [type]="hide1 ? 'password' : 'text'" minlength="6" maxlength="17" class="form-control custom_input">
                           <button  type="button" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                            <mat-icon class="ff_im fs_18 txt_lb {{hide1 ? 'icon-ic-hide' : 'icon-ic-show'}}"></mat-icon>
                           </button>
                           <mat-error *ngIf="isResetPwdSubmit && createNewPasswordForm.get('newPassword').errors?.['required']">Password is required</mat-error>
                           <mat-error *ngIf="isResetPwdSubmit && createNewPasswordForm.get('newPassword').errors?.['minlength']">Password min lengh must be 6 character</mat-error>
                           <mat-error *ngIf="isResetPwdSubmit && createNewPasswordForm.get('newPassword').errors?.maxLength">Password max length It is possible 16 character</mat-error>
                        </mat-form-field>
                        <p class="fs_14 fsn_4 txt_lb" style="margin: 1rem 0 -0.3rem;">Re-enter your password</p>
                        <!-- appearance="none" -->
                        <mat-form-field appearance="none" class="custom_matSuffix_icon ic_password">
                           <input  type="text" matInput type="pasword" placeholder="Re-enter your password" formControlName="confirmPassword" name="confirmPassword" [type]="hide2 ? 'password' : 'text'" class="form-control custom_input">
                           <button  type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                            <mat-icon class="ff_im fs_18 txt_lb {{hide2 ? 'icon-ic-hide' : 'icon-ic-show'}}"></mat-icon>
                           </button>
                           <mat-error *ngIf="isResetPwdSubmit && createNewPasswordForm.get('confirmPassword').errors?.['required']">Confirm password is required</mat-error>
                           <!-- <mat-error *ngIf="isResetPwdSubmit && createNewPasswordForm.get('confirmPassword').errors?.mustMatch">Password do not match</mat-error> -->
                           <small class="txt_d" *ngIf="isResetPwdSubmit && paswwordNotMatch">Password do not match</small>
                        </mat-form-field>
                        <!-- <small class="txt_d">{{otpMatchMessage}}</small> -->
                        <small class="txt_d">{{oppsError}}</small>
                        <div class="col-md-12 px-0 py-2 mt-4">
                           <button class="btn custum_button button_primary w-100" type="submit">Reset</button>
                        </div>
                        <p class="forgot_password"><u class="pointer" (click)="goToSignIn()">Back to Sign in</u></p>
                        </form>	
                      </div>
                      <!-- successfully Password reset -->
                      <div class="txt_b fs_18 my-4 text-center" *ngIf="thankyouMsg">
                        <span class="material-icons" style="margin: 0 0 1.5rem;font-size: 48px;color: #00AE73;">check_circle</span>
                        <p class="fs_20 fsm_5 txt_b" style="margin: 0 0 2rem;">Thank You!</p>
                        <p class="fs_16 fsn_4 txt_lb" style="margin: 0 0 2rem; line-height: 24px;">You have successfully reset your password.</p>
                        <div class="col-md-12 px-0">
                          <button class="btn custum_button button_primary w-100" (click)="goToSignIn()">Back to Sign in</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="onboarding_img">
              <img src="https://s3.us-east-2.amazonaws.com/static.laneaxis.com/portal/images/after-login/truck-illustrator.svg" class="img-fluid">
             </div>
          </div>
      </div>
    </div>
  </div>
  
