<div class="snackbar_container">
	<div class="snackbar_close">
		<span class="icon-ic-cross fs_18 txt_lb pointer"></span>
	</div>
	<!-- <a href="#" target="_self"> -->
		<div class="snackbar_inPart">
			<div class="snackbar_inlPart">
				<!-- <img src="https://s3.us-east-2.amazonaws.com/static.laneaxis.com/portal/images/after-login/LaneAxis_squired.png" class="img-fluid" style="max-width: 40px;"> -->
				<span class="icon-ic-notifications fs_30 txt_p"></span>
				<!-- <span class="icon-ic-emergency fs_30"></span> -->
			</div>
			<div class="snackbar_inrPart">
				<p class="fs_16 fsm_5 txt_b snackbar_title">{{title}}</p>
				<p class="mb-0 fs_14 fsl_3 txt_lb" style="opacity: .9;">{{subTitle}}</p>
			</div>
		</div>
	<!-- </a> -->
</div>