/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* Icomoon icons */
.icon { font-family: 'icomoon' !important; }
@font-face {
  font-family: 'icomoon';
  src:  url('src/icoMoon_fonts/icomoon.eot?weuue');
  src:  url('src/icoMoon_fonts/icomoon.eot?weuue#iefix') format('embedded-opentype'),
    url('src/icoMoon_fonts/icomoon.ttf?weuue') format('truetype'),
    url('src/icoMoon_fonts/icomoon.woff?weuue') format('woff'),
    url('src/icoMoon_fonts/icomoon.svg?weuue#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Down:before {
  content: "\e900"; font-family: 'icomoon'; 
}
.icon-ic-accepted:before {
  content: "\e901"; font-family: 'icomoon'; 
}
.icon-ic-attachment:before {
  content: "\e902"; font-family: 'icomoon'; 
}
.icon-ic-bg-circle:before {
  content: "\e903"; font-family: 'icomoon'; 
}
.icon-ic-bidding:before {
  content: "\e904"; font-family: 'icomoon'; 
}
.icon-ic-box:before {
  content: "\e905"; font-family: 'icomoon'; 
}
.icon-ic-building:before {
  content: "\e906"; font-family: 'icomoon'; 
}
.icon-ic-calendar:before {
  content: "\e907"; font-family: 'icomoon'; 
}
.icon-ic-card:before {
  content: "\e908"; font-family: 'icomoon'; 
}
.icon-ic-carrier:before {
  content: "\e909"; font-family: 'icomoon'; 
}
.icon-ic-cross:before {
  content: "\e90a"; font-family: 'icomoon'; 
}
.icon-ic-delete:before {
  content: "\e90b"; font-family: 'icomoon'; 
}
.icon-ic-dispute:before {
  content: "\e90c"; font-family: 'icomoon'; 
}
.icon-ic-documents:before {
  content: "\e90d"; font-family: 'icomoon'; 
}
.icon-ic-dots:before {
  content: "\e90e"; font-family: 'icomoon'; 
}
.icon-ic-download:before {
  content: "\e90f"; font-family: 'icomoon'; 
}
.icon-ic-driver:before {
  content: "\e910"; font-family: 'icomoon'; 
}
.icon-ic-emergency:before {
  content: "\e911"; font-family: 'icomoon'; 
}
.icon-ic-enlarge:before {
  content: "\e912"; font-family: 'icomoon'; 
}
.icon-ic-envelope:before {
  content: "\e913"; font-family: 'icomoon'; 
}
.icon-ic-facebook:before {
  content: "\e914"; font-family: 'icomoon'; 
}
.icon-ic-filter:before {
  content: "\e915"; font-family: 'icomoon'; 
}
.icon-ic-flash:before {
  content: "\e916"; font-family: 'icomoon'; 
}
.icon-ic-hide:before {
  content: "\e917"; font-family: 'icomoon'; 
}
.icon-ic-home:before {
  content: "\e918"; font-family: 'icomoon'; 
}
.icon-ic-info:before {
  content: "\e919"; font-family: 'icomoon'; 
}
.icon-ic-information:before {
  content: "\e91a"; font-family: 'icomoon'; 
}
.icon-ic-instagram:before {
  content: "\e91b"; font-family: 'icomoon'; 
}
.icon-ic-lanes:before {
  content: "\e91c"; font-family: 'icomoon'; 
}
.icon-ic-linkedin:before {
  content: "\e91d"; font-family: 'icomoon'; 
}
.icon-ic-location:before {
  content: "\e91e"; font-family: 'icomoon'; 
}
.icon-ic-maintenance:before {
  content: "\e91f"; font-family: 'icomoon'; 
}
.icon-ic-map-directions-left:before {
  content: "\e920"; font-family: 'icomoon'; 
}
.icon-ic-map-directions-right:before {
  content: "\e921"; font-family: 'icomoon'; 
}
.icon-ic-minus:before {
  content: "\e922"; font-family: 'icomoon'; 
}
.icon-ic-money:before {
  content: "\e923"; font-family: 'icomoon'; 
}
.icon-ic-notifications:before {
  content: "\e924"; font-family: 'icomoon'; 
}
.icon-ic-pause:before {
  content: "\e925"; font-family: 'icomoon'; 
}
.icon-ic-pending:before {
  content: "\e926"; font-family: 'icomoon'; 
}
.icon-ic-person:before {
  content: "\e927"; font-family: 'icomoon'; 
}
.icon-ic-phone:before {
  content: "\e928"; font-family: 'icomoon'; 
}
.icon-ic-photo:before {
  content: "\e929"; font-family: 'icomoon'; 
}
.icon-ic-pickup:before {
  content: "\e92a"; font-family: 'icomoon'; 
}
.icon-ic-plus:before {
  content: "\e92b"; font-family: 'icomoon'; 
}
.icon-ic-plus-in-circle:before {
  content: "\e92c"; font-family: 'icomoon'; 
}
.icon-ic-redo:before {
  content: "\e92d"; font-family: 'icomoon'; 
}
.icon-ic-refuel:before {
  content: "\e92e"; font-family: 'icomoon'; 
}
.icon-ic-resting:before {
  content: "\e92f"; font-family: 'icomoon'; 
}
.icon-ic-right-turn-direction:before {
  content: "\e930"; font-family: 'icomoon'; 
}
.icon-ic-search:before {
  content: "\e931"; font-family: 'icomoon'; 
}
.icon-ic-send:before {
  content: "\e932"; font-family: 'icomoon'; 
}
.icon-ic-settings:before {
  content: "\e933"; font-family: 'icomoon'; 
}
.icon-ic-share:before {
  content: "\e934"; font-family: 'icomoon'; 
}
.icon-ic-shipper:before {
  content: "\e935"; font-family: 'icomoon'; 
}
.icon-ic-show:before {
  content: "\e936"; font-family: 'icomoon'; 
}
.icon-ic-star-selected:before {
  content: "\e937"; font-family: 'icomoon'; 
}
.icon-ic-status:before {
  content: "\e938"; font-family: 'icomoon'; 
}
.icon-ic-swap-camera:before {
  content: "\e939"; font-family: 'icomoon'; 
}
.icon-ic-tick:before {
  content: "\e93a"; font-family: 'icomoon'; 
}
.icon-ic-twitter:before {
  content: "\e93b"; font-family: 'icomoon'; 
}
.icon-ic-upload:before {
  content: "\e93c"; font-family: 'icomoon'; 
}
.icon-ic-youtube:before {
  content: "\e93d"; font-family: 'icomoon'; 
}
.icon-iic-star:before {
  content: "\e93e"; font-family: 'icomoon'; 
}
.icon-Left:before {
  content: "\e93f"; font-family: 'icomoon'; 
}
.icon-Right:before {
  content: "\e940"; font-family: 'icomoon'; 
}
.icon-Up:before {
  content: "\e941"; font-family: 'icomoon'; 
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (min-width: 1023px){
.md-drppicker.shown.drops-down-left, .md-drppicker.shown.drops-down-right {
    display: block;
    width: 600px;
}
}